__pycache__/
*.py[cod]
*.egg-info/
.idea/
data/*.sqlite
data/models/
data/voice_profiles/
data/auth/
.env
training/
node_modules/
.DS_Store
:memory:.ses
*.tsbuildinfo
data/chroma/
data/chroma_v2/
data/ragv2/indexes/
src/app/rag/data/chroma/
data/*.wav
data/evaluation/*_latest.json
